.filter-container {
  position: relative;
  margin-bottom: 10px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 120%;
  left: 0;
  display: block;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 16px;
  font-weight: semibold;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.filter-category {
  margin-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
  color: #686868;
}

.apply-button {
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 3px;
  background-color: #424242;
  color: white;
  width: 100%;
  border-radius: 3px;
  font-weight: 500;
}

.filter-option {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px 0;
  text-decoration: none;
  display: block;
  color: #424242;
  font-weight: 500;
}

.checkbox-container {
  margin-left: 50px;
}

.filter-option-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
